[user]
    name = MikiS
    email = 73443709+RAV64@users.noreply.github.com

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[core]
    autocrlf = input

[init]
    defaultBranch = main

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default
	algorithm = histogram
    external = difft

[alias]
	fresh = !git reset --hard HEAD && git clean -fd
    dshow = -c diff.external=difft show --ext-diff

[push]
	autoSetupRemote = true

[branch]
	sort = -committerdate

[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
