:root {
  --uc-status-panel-spacing: 0 !important;
  --uc-urlbar-position: 3 !important;
  --show-tab-close-button-hover: -moz-inline-block !important;
  --uc-urlbar-min-width: 30vw;
  --uc-urlbar-max-width: 30vw;
}

#tracking-protection-icon-container { display: none !important; }
#identity-box { display: none !important; }
#tabbrowser-arrowscrollbox-periphery { display: none !important; }

#unified-extensions-button { display: inline !important; }
#unified-extensions-button .toolbarbutton-icon {
  list-style-image: url("https://github.com/RAV64/dotfiles/blob/main/images/berry-icon-520x520.png?raw=true") !important;
  height: 25px !important;   
  width: 25px !important;
  margin-top: 6px !important;
  margin-right: 2px !important;
  padding: 0 !important;
}

.tabbrowser-tab {
  padding: 0 !important;
}

#navigator-toolbox {
  height: 36px !important;
}

#urlbar[breakout] {
  top: 2px !important;
}

#urlbar-container {
  width: 0 !important;
}

.tab-label {
  font-size: 13px !important;
}

.urlbar-input-box {
  direction: rtl !important;
}

.tab-background {
  margin: 0 !important;
}

.tabbrowser-tab:not([pinned]) {
  flex: inherit !important;
}

.tabbrowser-tab[selected][fadein]:not([pinned]) {
  max-width: 2000px !important;
}

.tab-content[selected="true"] {  
  background-color: #361F26 !important; 
}
